<%- include('head', {title: 'eumesat'}); -%>
<%- include('header'); -%>
<%- include('homebanner'); -%>
<%- include('banner'); -%>
    <div id="maindisplay">
    <h1>Earth imagery from Meteosat</h1>
<iframe width="1033" height="581" src="https://www.youtube.com/embed/9fS4WxSCrI4" title="EUMETSAT Earth view – Indian Ocean" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
<script>
    //$(".news").addClass("noaction");
    $( () => { footerbox.lastUpdate();});
</script>
<%- include('footer'); -%>
