<%- include('head', {title: 'nirinA'}); -%>
<%- include('header'); -%>
<%- include('homebanner'); -%>
<%- include('banner'); -%>
<% if (user) { %>
    <% if (user.username === "mirindra") { %>
    <li><span title="mirindra" class="mirindra noaction" >&nbsp;mirindra&nbsp;</span></li>
    <% } %>
<li><span class="logout logoutsvg">
<form action="/logout" method="post">
      <button type="submit">&nbsp;logout&nbsp;</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>
</span>
</li>
<li><span class="user noaction usersvg">&nbsp;<%= user.username %>&nbsp;</span>
</li>
<% } else { %>
    	<li><span title="login" class="login">&nbsp;login&nbsp;</span></li>
<% } %>
<%- include('banner_end'); -%>
<div id="maindisplay">
<h1>Mirindra</h1>
