<%- include('head', {title: 'wiki'}); -%>
<%- include('header'); -%>
<%- include('homebanner'); -%>
<%- include('banner'); -%>

<% for(var i=0; i < data.length; i++) { %>
	<div id="wiki_<%= i %>" style="display:none;">
	<h2  id="wiki_name_<%= i %>" style="text-align:center;"><%- data[i].name %></h2>
	<div id="wiki_content_<%= i %>">
	<%- data[i].content %>
	</div>
	</div>
<% } %>

<div id="maindisplay">
    <div id="next" class="action" style="float:right;">&nbsp;&gt;&nbsp;</div>
    <div id="previous" class="action" style="float:right;">&nbsp;&lt;&nbsp;</div>
    <div id="wikiDisplay"></div><div id="edit"></div>
    <hr>
    <a href="/wiki/create">create</a>
</div>
<!--
https://fr.wikipedia.org/wiki/Charles_Baudelaire#/media/Fichier:Le_port_manuscrit_de_Baudelaire.jpg
-->
<script>
$(document).ready(function() {
    let l = <%= data.length %>, p = 0;
    let form = edit_form(p);
    $("#edit").html(form);
    $("#wikiDisplay").html($("#wiki_"+p).html());
    $("#previous").click( () => {
        p--;
		if (p < 0) p = l-1;
		$("#wikiDisplay").html($("#wiki_"+p).html());
		form = edit_form(p);
		$("#edit").html(form);
    });
    $("#next").click( () => {
        ++p;
		if ( p >= l) p = 0;
		$("#wikiDisplay").html($("#wiki_"+p).html());
		form = edit_form(p);
		$("#edit").html(form);
    });
    function edit_form(p) {
        let f = '<form name="edit" action="/wiki/edit" method="post">'+
		'<input type="hidden" name="num" value="'+p+'" />'+
		'<input value="edit" type="submit">'+
		'</form>';
		return f;
    }
});
</script>
<script>
$(".wiki").addClass("noaction");
$( () => { footerbox.lastUpdate();});
</script>
<%- include('footer'); -%>
